h2.ng-binding.text-center Rango de Fechas
input#daterange.input-sm.form-control.text-center.date-picker date-range-picker='' options="opts" ng-model="date" type="text" placeholder='Selecciones fechas a consultar' /
button.btn.btn-primary.btn-block onClick="get_report()" Generar Reporte