/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.3
 *
*/

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Bootstra
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables, Mixins
@import "base/variables";
@import "base/mixins";

// INSPINIA Theme Elements
@import "base/typography";
@import "base/navigation";
@import "base/top_navigation";
@import "base/buttons";
@import "base/badgets_labels";
@import "base/elements";
@import "base/sidebar";
@import "base/base";
@import "base/pages";
@import "base/chat";
@import "base/metismenu";
@import "base/spinners";

// Landing page
@import "base/landing";

// RTL Support
@import "base/rtl";

// For demo only - config box style
@import "base/theme-config";

// INSPINIA Skins
@import "base/skins";
@import "base/md-skin";

// Media query style
@import "base/media";

// Custom style
// Your custom style to override base style
@import "base/custom";

#error_explanation{
  h2{
    font-size: 15px;
  }
  ul {
    padding: 0;
    list-style: none;
    color: red;
  }
}

.absence-table{
  th,td{
    text-align: center;
    &:last-child{
      text-align: right;
    }
  }
  .fa.fa-cloud-download{
    font-size: 20px;
  }
}

.pointer { cursor: pointer; cursor: hand; }

.table-responsive {
  overflow-x: hidden !important;
}

.container-search-in-title{
  position: relative;
  border-color: #1bb394;
  border-width: 3px 0px;
  .search-in-title{
    position: absolute;
    top: 10px;
    display: block;
    right: 0;
  }
}

.container-search-chosen{
  .chosen-container{
    width: 100%;
  }
  .chosen-choices{
    padding-bottom: 3px;
    padding-top: 2px;
  }
}

.btn-stadistic-update{
  float: right;
  margin-left: -170px;
}

.pagination.slim{
  margin: 0 12px;
  float: right;
}

